@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body {
    width: 100%;
    
}

.top-nav {
    display: flex;
    justify-content: space-between;
    background-color: #001489;
    padding: 16px 12px;
    width: 100%;
    position: sticky;
    top: 0;
}

.top-nav a {
    font-size: 1.1em;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.top-nav .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.top-nav .profile-image img {
    width: 100%;
}

/* main section */

main {
    display: grid;
    grid-template-columns: 1fr;
}

main > .latest {
    width: 100%;
    height: 360px;
    background-image: url("../images/E08u3syXMAMa49-.jpg");
    background-size: cover;
    background-position: center;
    /* position: relative; */
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

main > .latest > .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: absolute; */
    bottom: 0px;
    padding: 12px;
}

main > .latest > .title > h3 {
    color: #fff1f1;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 10px;
}

main > .latest > .title > a {
    font-size: 12px;
    color: #fff;
}

main > .other-feed {
    padding:12px;
}

main > .other-feed > .feed {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: transparent;
    margin: 6px 0px 10px 0px;
}

main > .other-feed > .feed > .article-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

main > .other-feed > .feed > .article-image > img {
    width: 100%;
}

main > .other-feed > .feed > .headline {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
}

main > .other-feed > .feed > .headline > p {
    color: #001489;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

main > .other-feed > .feed > .headline > small {
    font-size: 13px;
    margin-bottom: 5px;
}

main > .other-feed > .feed > .headline > span, a {
    width: 180px;
    font-size: 12px;
    color: #555;
}






.bottom-nav {
    width: 100%;
    display: flex;
    align-items: center;
    background-color:#001489;
    position: sticky;
    bottom: 0px;
}

.bottom-nav > .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 12px;
    justify-content: center;
    background-color: #001489;
    border: none;
    outline: none;
}

.bottom-nav > .menu.active {
    background-color: 
    #0033ff;
}

.bottom-nav > .menu > .icons {
    display: grid;
    place-items: center;
    margin-bottom: 8px;
}

.bottom-nav > .menu > .icons > svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.bottom-nav > .menu > .description {
    color: #fff;
    font-size: 10px;
    font-weight: 300;
}